{% extends 'base.html' %}

{% block title %} Edit User Data {% endblock %}

{% block content %}
  <div class="container masthead bg-primary text-white text-center">
    <h1 class="masthead-heading text-uppercase text-black mb-0">Edit user info</h1>
    
    <!-- Icon Divider -->
    <div class="divider-custom divider-light">
      <div class="divider-custom-line"></div>
      <div class="divider-custom-icon">
        <i class="fas fa-star"></i>
      </div>
      <div class="divider-custom-line"></div>
    </div>

    <form method="post">

      {% csrf_token %}
      {% for field in form %}
        <div class="fieldWrapper">
          <strong class="navbar-brand text-uppercase text-black">
            {{ field.errors }}
            {{ field.label_tag }} 
          </strong>

          {{ field }}
          {% if field.help_text %}
          <p class="help">{{ field.help_text|safe }}</p>
          {% endif %}
        </div>
      {% endfor %}
      <br>
      <button type="submit" class="btn btn-primary btn-xl">Save</button>

    </form>
  </div>

{% endblock content%}
