{% extends 'base.html' %}
{% load static %}

{% block title %} Edit User Data {% endblock %}



{% block breadcrumb %}

{% endblock %}

<!DOCTYPE html>
<html lang="en">
  
  <head>
    {% block stylesheet %}
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    {% endblock %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    
  </head>
  
  {% block content %}
  {% block body %}
  <body>

    <form method="post">

      {% csrf_token %}
      {{ form.as_p }}
      <button type="submit" class="btn btn-success">Save</button>

    </form>
  
  </body>
  {% endblock body %}
  </html>
  {% endblock content%}
