{% extends 'base.html' %}

{% block breadcrumb %}
  <li class="breadcrumb-item active">Main</li>
{% endblock %}

{% block content %}
  <table class="table">
    <thead class="thead-inverse">
      <tr>
        <th>Opcion 1</th>
        <th>Opcion 2</th>
        <th>Opcion 3</th>
        <th>Opcion 4</th>
      </tr>
    </thead>
    <tbody>
<!--       {% for board in boards %}
        <tr>
          <td>
            <a href="{% url 'board_topics' board.pk %}">{{ board.name }}</a>
            <small class="text-muted d-block">{{ board.description }}</small>
          </td>
          <td class="align-middle">0</td>
          <td class="align-middle">0</td>
          <td></td>
        </tr>
      {% endfor %} -->
    </tbody>
  </table>
{% endblock %}