{% extends 'base.html' %}
{% load static %}

{% block content %}
<!-- Masthead -->

<header class="masthead masthead-bg  text-white text-center">
  <div class="container masthead-content d-flex align-items-center flex-column">

    <!-- Masthead Avatar Image -->
    <img class="masthead-avatar mb-5" src="{% static 'img/alumnusb_logo.jpg' %}" alt="">

    <!-- Masthead Heading -->
    <h1 class="text-uppercase mb-0">La USB agradece tu colaboración</h1>

    <!-- Icon Divider -->
    <div class="divider-custom divider-light">
      <div class="divider-custom-line"></div>
      <div class="divider-custom-icon">
        <i class="fas fa-star"></i>
      </div>
      <div class="divider-custom-line"></div>
    </div>

    <!-- Masthead Subheading -->
    <h4 class="masthead-subheading font-weight-light mb-0">Queremos reconocer lo mucho que haces por nosotros. ¡Entra para descubrir cómo!</h4>
    <div>
      {% if user.is_authenticated %}

      {% else %}
        <a href="" class="float-left btn-light"> ingresar </a> 
        <a href="" class="float-right btn-light"> Crear una cuenta </a> 
      {% endif %}
      <a href="{% url '' %}">  </a>
    </div>

  </div>
</header>

<!-- USB Achievements Section -->
<section class="page-section portfolio" id="portfolio">
  <div class="container">

    <!-- Portfolio Section Heading -->
    <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">Lo que hemos conseguido</h2>

    <!-- Icon Divider -->
    <div class="divider-custom">
      <div class="divider-custom-line"></div>
      <div class="divider-custom-icon">
        <i class="fas fa-star"></i>
      </div>
      <div class="divider-custom-line"></div>
    </div>

    <!-- Alumn Achievements Items -->
    <div class="row display-flex">

      <!-- Achievement Item 1 -->
      <div class="col-md-6 col-lg-4 mb-sm-2">
        <div class="portfolio-item mx-auto card border-0 h-100" data-toggle="modal" data-target="#portfolioModal1">
          <div class="portfolio-item-caption bg-warning d-flex align-items-center justify-content-center h-100 w-100">
            <div class="portfolio-item-caption-content text-center text-white">
              <i class="fas fa-plus fa-3x"></i>
            </div>
          </div>
          <div class = "bg-primary  rounded p-2 text-light card-body h-100">
            <img class="img-fluid rounded" src="{% static 'img/usbbus.jpg' %}" alt="">
            <h4>Recuperación del transporte</h4>
          </div>
        </div>
      </div>

      <!-- Achievement Item 2 -->
      <div class="col-md-6 col-lg-4 mb-sm-2">
        <div class="portfolio-item mx-auto card border-0 h-100" data-toggle="modal" data-target="#portfolioModal2">
          <div class="portfolio-item-caption bg-warning d-flex align-items-center justify-content-center h-100 w-100">
            <div class="portfolio-item-caption-content text-center text-white">
              <i class="fas fa-plus fa-3x"></i>
            </div>
          </div>
          <div class = "bg-primary  rounded p-2 text-light card-body h-100">
            <img class="img-fluid rounded" src="{% static 'img/labor_docente.jpg' %}" alt="">
            <h4>Premio a la destacada labor docente</h4>
          </div>
        </div>
      </div>

      <!-- Achievement Item 3 -->
      <div class="col-md-6 col-lg-4 mb-sm-2">
        <div class="portfolio-item mx-auto card border-0 h-100" data-toggle="modal" data-target="#portfolioModal3">
          <div class="portfolio-item-caption bg-warning d-flex align-items-center justify-content-center h-100 w-100">
            <div class="portfolio-item-caption-content text-center text-white">
              <i class="fas fa-plus fa-3x"></i>
            </div>
          </div>
          <div class = "bg-primary  rounded p-2 text-light card-body h-100">
            <img class="img-fluid rounded" src="{% static 'img/scholar.jpg' %}" alt="">
            <h4>Programa de becas</h4>
          </div>
        </div>
      </div>


    </div>
    <!-- /.row -->

  </div>
</section>

<!-- About Section -->
<section class="page-section bg-primary text-white mb-0" id="about">
  <div class="container">

    <!-- About Section Heading -->
    <h2 class="page-section-heading text-center text-uppercase text-white">¡Agradecemos tu apoyo!</h2>

    <!-- Icon Divider -->
    <div class="divider-custom divider-light">
      <div class="divider-custom-line"></div>
      <div class="divider-custom-icon">
        <i class="fas fa-star"></i>
      </div>
      <div class="divider-custom-line"></div>
    </div>

    <!-- About Section Content -->
    <div class="row">
      <div class="col-lg-4 ml-auto">
        <p class="lead">Este proyecto es una iniciativa de AlumnUSB en conjunto con siete estudiantes de Ingeniería de la Computación de la Universidad Simón Bolívar. Se trata de una interfaz con estrategias de Gamification para reconocer los logros de los aportes realizados por cada egresado a su alma mater.</p>
      </div>
      <div class="col-lg-4 mr-auto">
        <p class="lead">Se busca dar más significado personal para cada proceso dentro de los proyectos de AlumnUSB en la Universidad. Es por ello que nuestra interfaz cuenta con un sistema de medallas que se irán desbloqueando al cumplir ciertos requisitos para cada donante recurrente.</p>
      </div>
    </div>
  </div>
</section>

<!-- Scroll to Top Button (Only visible on small and extra-small screen sizes) -->
<div class="scroll-to-top d-lg-none position-fixed ">
  <a class="js-scroll-trigger d-block text-center text-white rounded" href="#page-top">
    <i class="fa fa-chevron-up"></i>
  </a>
</div>

<!-- Portfolio Modals -->

<!-- Portfolio Modal 1 -->
<div class="portfolio-modal modal fade" id="portfolioModal1" tabindex="-1" role="dialog" aria-labelledby="portfolioModal1Label" aria-hidden="true">
  <div class="modal-dialog modal-xl" role="document">
    <div class="modal-content">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">
          <i class="fas fa-times"></i>
        </span>
      </button>
      <div class="modal-body text-center">
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-lg-8">
              <!-- Portfolio Modal - Title -->
              <h2 class="text-secondary text-uppercase mb-0"> Transporte recuperado </h2>
              <!-- Icon Divider -->
              <div class="divider-custom">
                <div class="divider-custom-line"></div>
                <div class="divider-custom-icon">
                  <i class="fas fa-star"></i>
                </div>
                <div class="divider-custom-line"></div>
              </div>
              <!-- Portfolio Modal - Image -->
              <img class="img-fluid rounded mb-5" src="{%static 'img/usbbus.jpg' %}" alt="">
              <!-- Portfolio Modal - Text -->
              <p class="mb-5">
                Gracias a tu apoyo, ha sido posible habilitar muchas rutas del transporte, permitiendo que 
                muchos miembros de la comunidad universitaria puedan seguir haciendo vida en nuestra casa de estudios.
              </p>
              <button class="btn btn-warning text-light" href="#" data-dismiss="modal">
                Aceptar
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Portfolio Modal 2 -->
<div class="portfolio-modal modal fade" id="portfolioModal2" tabindex="-1" role="dialog" aria-labelledby="portfolioModal2Label" aria-hidden="true">
  <div class="modal-dialog modal-xl" role="document">
    <div class="modal-content">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">
          <i class="fas fa-times"></i>
        </span>
      </button>
      <div class="modal-body text-center">
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-lg-8">
              <!-- Portfolio Modal - Title -->
              <h2 class="text-secondary text-uppercase mb-0">Premio a la destacada labor docente</h2>
              <!-- Icon Divider -->
              <div class="divider-custom">
                <div class="divider-custom-line"></div>
                <div class="divider-custom-icon">
                  <i class="fas fa-star"></i>
                </div>
                <div class="divider-custom-line"></div>
              </div>
              <!-- Portfolio Modal - Image -->
              <img class="img-fluid rounded mb-5" src="{% static 'img/labor_docente.jpg' %}" alt="">
              <!-- Portfolio Modal - Text -->
              <p class="mb-5">
                Gracias a tu colaboración, ha sido posible mantener la figura del premio a la destacada labor docente,
                de esta forma retribuímos a los profesores que han ayudado a construir nuestra universidad y formar tantos
                profesionales. 
              </p>
              <button class="btn btn-warning text-light" href="#" data-dismiss="modal">
                Aceptar
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Portfolio Modal 3 -->
<div class="portfolio-modal modal fade" id="portfolioModal3" tabindex="-1" role="dialog" aria-labelledby="portfolioModal3Label" aria-hidden="true">
  <div class="modal-dialog modal-xl" role="document">
    <div class="modal-content">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">
          <i class="fas fa-times"></i>
        </span>
      </button>
      <div class="modal-body text-center">
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-lg-8">
              <!-- Portfolio Modal - Title -->
              <h2 class="text-secondary text-uppercase mb-0">Programa de becas</h2>
              <!-- Icon Divider -->
              <div class="divider-custom">
                <div class="divider-custom-line"></div>
                <div class="divider-custom-icon">
                  <i class="fas fa-star"></i>
                </div>
                <div class="divider-custom-line"></div>
              </div>
              <!-- Portfolio Modal - Image -->
              <img class="img-fluid rounded mb-5" src="{% static 'img/scholar.jpg' %}" alt="">
              <!-- Portfolio Modal - Text -->
              <p class="mb-5">
                Gracias a tus aportes, hemos sido capaces de mantener el programa de becas y permitir que mucha
                gente talentosa pueda desarrollarse y seguir estudiando. ¡Muchas gracias!
              </p>
              <button class="btn btn-warning text-light" href="#" data-dismiss="modal">
                Aceptar
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}