{% load 'static' %}
<!--
    Variables required by this template:
        mid: modal id
-->
<div class="modal fade" id="{{mid}}" tabindex="-1" role="dialog" aria-labelledby="portfolioModal2Label" aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document">
      <div class="modal-content">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">
            <i class="fas fa-times"></i>
          </span>
        </button>
        <div class="modal-body text-center">
          <div class="container">
            <div class="row justify-content-center">
              <div class="col-lg-8">
                <!-- Portfolio Modal - Title -->
                <h2 class="text-secondary text-uppercase mb-0">Premio a la destacada labor docente</h2>
                <!-- Icon Divider -->
                <div class="divider-custom">
                  <div class="divider-custom-line"></div>
                  <div class="divider-custom-icon">
                    <i class="fas fa-star"></i>
                  </div>
                  <div class="divider-custom-line"></div>
                </div>
                <!-- Portfolio Modal - Image -->
                <img class="img-fluid rounded mb-5" src="{% static 'img/labor_docente.jpg' %}" alt="">
                <!-- Portfolio Modal - Text -->
                <p class="mb-5">
                  Gracias a tu colaboración, ha sido posible mantener la figura del premio a la destacada labor docente,
                  de esta forma retribuímos a los profesores que han ayudado a construir nuestra universidad y formar tantos
                  profesionales. 
                </p>
                <button class="btn btn-warning text-light" href="#" data-dismiss="modal">
                  Aceptar
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>