{% extends 'base.html' %}

{% block title %} Login User {% endblock %}

{% block content %}

    <div class="container masthead bg-primary text-white text-center">
    
      <!-- Masthead Heading -->
      <h1 class="masthead-heading text-uppercase text-black mb-0">Log in your account</h1>
    
      <!-- Icon Divider -->
      <div class="divider-custom divider-light">
        <div class="divider-custom-line"></div>
        <div class="divider-custom-icon">
          <i class="fas fa-star"></i>
        </div>
        <div class="divider-custom-line"></div>
      </div>

      <div class="container d-flex align-items-center flex-column">
        <form method = "POST">
          {% csrf_token %}
          {% for field in form %}
            <div class="fieldWrapper">
              <strong class="navbar-brand text-black">
                {{ field.errors }}
                {{ field.label_tag }} 
              </strong>
              <br>
              {{ field }}
              {% if field.help_text %}
              <p class="help">{{ field.help_text|safe }}</p>
              {% endif %}
            </div>
          {% endfor %}
          <br>
          <button class="btn btn-outline-al btn-xl">Enter</button>
        </form>
      </div>
    </div>

{% endblock content %}