{% load static %}
<!-- Variables required by this template:
    achiev: Achievement being rendered by this template
    color: Color theme of this item
    id: number of this item
    color per Level :
    1: primary
    2: info
    3: warning
    4: purple
    5: danger
-->

    {% with modalId="achievItemModal"|add:id%}
<div class="row  my-2 rounded">
    <div class="col-4">
        <img src="{{ achiev.2 }}" alt="" class="img-fluid">
    </div>

    <div class="col-8 p-2" >
        
        <!--Title-->
        <div class="mb-2">
            <a class="" href="{% url 'my_achievs' user.username %}" style="text-decoration: none;">
                <h5 class="text-gray-800 font-weight-bold text-{{color}}">
                    {{achiev.0.Name}}  
                </h5> 

            </a>
            <!--Description-->
            {% if achiev.2 %}
            Adquirido: {{achiev.1}}
            {% endif %}
        </div>

        <!--Level Badge-->
        <div class="">
            {% if achiev.0.Level == 1 %}
            <span class="badge-primary rounded p-1 my-6"> Level 1  </span>
            {% elif achiev.0.Level == 2 %}
            <span class="badge-info rounded p-1 my-6"> Level 2  </span>
            {% elif achiev.0.Level == 3 %}
            <span class="badge-warning rounded p-1 my-6"> Level 3  </span>
            {% elif achiev.0.Level == 4 %}
            <span class="badge-purple rounded p-1 my-6"> Level 4  </span>
            {% elif achiev.0.Level == 5 %}
            <span class="badge-danger rounded p-1 my-6"> Level 5  </span>
            {% endif %}
        </div>
        

    </div>

    
    
</div>
<hr>
        
        
    {% endwith %}
